<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </head>
    <body>
        <nav class="navbar navbar-dark bg-dark navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" href="#">Select Chat</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item active">
                <a class="nav-link" href="/">Room list</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="/add_chat_room/">Add chat room</a>
              </li>
            </ul>
          </div>
        </nav>
        <div class="container">
            <br>
            <div style="border: 1px solid black; height: 70%" class="col-md-12" id="chat_messages">
                {% for message in messages %}
                    @<i>{{message.sender}}: </i> <b>{{message.text}}</b> <br>
                {% end %}
            </div>
            <hr>
            <div style="height: 15%">
                <input type="text" name="nickname" id="nickname">
                <textarea style="width: 100%" id="text"></textarea>
                <button class="btn btn-primary" id="send">Send</button>
            </div>
        </div>
        <script>
            $(document).ready(function () {
                let ws = new WebSocket("ws://127.0.0.1:8888/chat_update/{{chat_id}}");
                ws.onmessage = function (evt) {
                    // тут я ловлю сообщение от сокета в котором у меня новые сообщения
                    // и вставляю его на место старого списка при помощи не хитрых манипуляций с
                    // jQuery
                    $('#chat_messages').html(evt.data);
                };
                $('#send').click(function () {
                    let data = {
                        'nickname': $('#nickname').val(),
                        'text': $('#text').val(),
                        'chat_id': {{ chat_id }}
                    };
                    $.ajax({
                        method: 'POST',
                        url: '/save_message/',
                        data: data,
                        success: function (data) {
                            $('#text').val('')
                        }
                    });
                });
            });
        </script>
    </body>
</html>