<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" href="#">Navbar</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="/">Home</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="/create_post/">Crate Post</a>
              </li>
            </ul>
              <ul class="navbar-nav mr-auto">
                  {% if user.is_authenticated %}
                      <li class="nav-item active">
                        <a class="nav-link" href="/accounts/logout/">Logout</a>
                      </li>
                  {% else %}
                      <li class="nav-item active">
                        <a class="nav-link" href="/accounts/login/">Login</a>
                      </li>
                  {% endif %}
              </ul>
          </div>
        </nav>
        <div class="container">
            <div class="row">
                {% for post in posts %}
                <div class="col-md-3">
                    <div class="card" style="width: 18rem;">
                      <div class="card-body">
                        <h5 class="card-title">{{ post.title }}</h5>
                        <p class="card-text">{{ post.text|truncatechars:200 }}</p>
                        <a href="/post/{{post.id}}" class="btn btn-primary">Read more</a>
                      </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </body>
</html>